body {
    background-color: #d0e4fe;
    /*background-image: url("../img/pingpong.png");*/
}

#outcomepingpong {
  display: none;
}

h1{
  font-family: cursive;
  text-align: left;
}

/*.jumbotron.pingpong {
  margin-top: 20px;
  background-position: 0% 60%;
  background-size: cover;
  color: black;
}*/
