body {
    background-color: #4C6A92;
}

h1{
  font-family: cursive;
  text-align: center;
  text-shadow:
    1px 1px white,
    -1px -1px white,
    -1px 1px white,
    1px -1px white;
}

h2{
  font-style: oblique;
}

h3{
  font-family:cursive;
}

.jumbotron {
  margin-top: 20px;
  background-position: 0% 80%;
  background-size: cover;
  background-image: url("../img/pingpongred.png");
  color: black;
}
